{% extends 'base.html' %}
{% load static %}
{% block body %}

   <div class="row">

    <div class="col s4 m3 l10 side-panel center offset-l1" >
       <div class=""><h1 >Data Cleaner</h1></div>

        <table id="table_id" class="display">
            <thead>
                <tr>
                    {% for column in columns %}
                    <th>{{column}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

   </div>

{% endblock %}


<!--        <tr>-->
<!--            <td>Row 1 Data 1</td>-->
<!--            <td>Row 1 Data 2</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Row 2 Data 1</td>-->
<!--            <td>Row 2 Data 2</td>-->
<!--        </tr>-->
    </tbody>
</table>